snippet date
`date +%d`.`date +%m`.`date +%Y`
endsnippet

snippet comment "insert comments" b
#-------------------------------------------------------------------------------
#[chsh: `date +%d`.`date +%m`.`date +%Y` ] : ${1}
#-------------------------------------------------------------------------------
endsnippet

snippet fixme "insert fixme" b
#-------------------------------------------------------------------------------
#[FIXME][chsh: `date +%d`.`date +%m`.`date +%Y` ] : ${1}
#-------------------------------------------------------------------------------
endsnippet

snippet todo "insert todo" b
#-------------------------------------------------------------------------------
#[TODO][chsh: `date +%d`.`date +%m`.`date +%Y` ] : ${1}
#-------------------------------------------------------------------------------
endsnippet

snippet com "insert one line comments" b
#[chsh]: `date +%d`.`date +%m`.`date +%Y` ] : ${1}
endsnippet
